@import 'bootstrap/dist/css/bootstrap.min.css';
@import '@angular/material/prebuilt-themes/indigo-pink.css';

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  padding: 20px;
}

.full-width {
  width: 100%;
}

.mat-form-field {
  margin-bottom: 1rem;
}
