<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2>Список тегов</h2>
    <button mat-raised-button color="primary" (click)="openAddDialog()">
      <mat-icon>add</mat-icon> Добавить тег
    </button>
  </div>

  <div class="table-responsive">
    <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
        <mat-cell *matCellDef="let tag"> {{tag.id}} </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Название </mat-header-cell>
        <mat-cell *matCellDef="let tag"> {{tag.name}} </mat-cell>
      </ng-container>

      <!-- Description Column -->
      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef> Описание </mat-header-cell>
        <mat-cell *matCellDef="let tag"> {{tag.description}} </mat-cell>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> Действия </mat-header-cell>
        <mat-cell *matCellDef="let tag">
          <button mat-icon-button color="primary" (click)="openEditDialog(tag)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteTag(tag.id!)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
</div>
